@import url("bootstrap.min.css");

html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.jumbotron {
    text-align: center;
}

.footer {
    height: 60px;
    background-color: #272727;
    border-top: 1px solid #15171a;
    padding-top: 20px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/*-- Sorting --*/

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

/*-- Other --*/

.panel-heading .btn.add-item {
    margin: 13px 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* add red asterisk to required form fields */
div.required label:after {
    content: " *";
    color: #e13431;
}

.login {
    margin-top: 0px;
}

/*-- GridView options display tweaks --*/

.user-index td:last-child,
.articles-admin td:last-child {
    width: 68px;
}

.article-view th {
    min-width: 90px;
}

/*-- Css for nicer display of boolean yes/no values --*/

.boolean-true {
    font-weight: bold;
    color: #00b100;
}

.boolean-false {
    font-weight: bold;
    color: #e34542;
}

/*-- Css for nicer display of user roles --*/

.role-theCreator {
    font-weight: bold;
    color: #f9f9f9;
}

.role-admin {
    font-weight: bold;
    color: #c4a500;
}

.role-editor {
    font-weight: bold;
    color: #a700a7;
}

.role-support {
    font-weight: bold;
    color: #009d00;
}

.role-premium {
    font-weight: bold;
    color: #6060ff;
}

.role-member {
    font-weight: bold;
}

/*-- Colors used for various data presentation purposes --*/

.blue {
    font-weight: bold;
    color: #7373ff;
}

.green {
    font-weight: bold;
    color: #009d00;
}

.gold {
    font-weight: bold;
    color: #c4a500;
}

hr.top {
    margin-top: 0px;
    border-width: 2px;
    border-color: #333;
    text-align: left;
}

hr.article-devider {
    border-width: 1px;
    border-color: #444;
    border-style: dashed;
    text-align: left;
}

/*-- Password strength --*/

/* hide strength meter so we can fade it in nicely with jQuery */
.nz-meter-container {
    display: none;
}

/* small strength meter display tweaks for this theme */
#form-signup table,
#form-user table,
#reset-password-form table {
    background-color: transparent;
}
